<div>
  <h3>My saved pokemon:</h3>

  <ng-container *ngIf="myPokemon$ | async as myPokemon; else noSavedPokemon">
    <app-pokemon-details [pokemon]="myPokemon"></app-pokemon-details>
  </ng-container>

  <ng-template #noSavedPokemon>
    No saved pokemon
  </ng-template>
</div>

<hr>

<div>
  <h3>Search Pokemons by name or id: <input (keyup)="onInput($event)"></h3>
</div>

<div>
  <h3>Results:</h3>

  <ng-container *ngIf="pokemon$ | async as pokemon; else noResults">
    <app-pokemon-details [pokemon]="pokemon"></app-pokemon-details>
  </ng-container>

  <ng-template #noResults>
    No results
  </ng-template>
</div>
